In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
link = "../Data/processed/deague cases.csv"
# data frame
dfDengueCluster = pd.read_csv(link, index_col='date', parse_dates=True, dayfirst=True)

In [4]:
dfDengueCluster.head(3)

,Latitude,Longitude,NumberOfCases,Address,RegionId
date,,,,,
2016-01-01,1.346572,103.933637,1,Tampines Avenue 1 (Blk 890B),3
2016-01-01,1.349751,103.934421,2,Tampines Avenue 3,3
2016-01-01,1.351617,103.941330,81,Tampines Avenue 4,3